<div class="container mb-3">
  <h1 *ngIf="!this.id" class="mt-3">Add Blog Post</h1>
  <h1 *ngIf="this.id" class="mt-3">Edit Blog Post</h1>

  <hr />

  <form class="row g-3" [formGroup]="blogPostForm" (ngSubmit)="onFormSubmit()">
    <div class="col-md-12">
      <label for="blogPostTitle" class="form-label">Title</label>
      <input
        type="text"
        id="blogPostTitle"
        name="blogPostTitle"
        class="form-control"
        formControlName="title"
      />
      <span
        *ngIf="
          blogPostForm.get('title')?.invalid &&
          blogPostForm.get('title')?.touched
        "
        class="small text-danger"
        >Title is required</span
      >
    </div>
    <div class="col-md-12">
      <label for="blogPostDescription" class="form-label">Description</label>
      <textarea
        class="form-control description-textarea"
        id="blogPostDescription"
        name="blogPostDescription"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="
          blogPostForm.get('description')?.invalid &&
          blogPostForm.get('description')?.touched
        "
        class="small text-danger"
        >Description is required</span
      >
    </div>
    <div class="col-md-12">
      <label for="blogPostUrlHandle" class="form-label">URL Handle</label>
      <div class="input-group">
        <span class="input-group-text">https://codepulse.io/blogs/</span>
        <input
          type="text"
          id="blogPostUrlHandle"
          name="blogPostUrlHandle"
          class="form-control"
          formControlName="urlHandle"
        />
      </div>
      <span
        *ngIf="
          blogPostForm.get('urlHandle')?.invalid &&
          blogPostForm.get('urlHandle')?.touched
        "
        class="small text-danger"
        >URL Handle is required</span
      >
    </div>
    <div class="col-12">
      <label for="blogPostContent" class="form-label">Content</label>
      <div class="d-flex flex-row gap-4">
        <div class="col-6">
          <textarea
            name="blogPostContent"
            id="blogPostContent"
            class="form-control content-textarea"
            formControlName="content"
          ></textarea>
          <span
            *ngIf="
              blogPostForm.get('content')?.invalid &&
              blogPostForm.get('content')?.touched
            "
            class="small text-danger"
            >Content is required</span
          >
        </div>
        <div class="col-6 markdown-preview">
          <markdown [data]="blogPostForm.get('content')?.value"></markdown>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="blogPostFeaturedImageUrl" class="form-label"
        >Featured Image URL</label
      >

      <div *ngIf="blogPostForm.get('featuredImageUrl')?.value !== ''">
        <img
          [src]="blogPostForm.get('featuredImageUrl')?.value"
          class="preview-image mb-2 img-thumbnail"
        />
      </div>

      <input
        type="text"
        id="blogPostFeaturedImageUrl"
        name="blogPostFeaturedImageUrl"
        class="form-control"
        formControlName="featuredImageUrl"
      />
      <span
        *ngIf="
          blogPostForm.get('featuredImageUrl')?.invalid &&
          blogPostForm.get('featuredImageUrl')?.touched
        "
        class="small text-danger"
        >Image URL is required</span
      >
    </div>
    <div class="col-md-5">
      <label for="blogPostDatePublished" class="form-label"
        >Date Published</label
      >
      <input
        type="date"
        id="blogPostDatePublished"
        name="blogPostDatePublished"
        class="form-control"
        formControlName="datePublished"
      />
      <span
        *ngIf="
          blogPostForm.get('datePublished')?.invalid &&
          blogPostForm.get('datePublished')?.touched
        "
        class="small text-danger"
        >Date Published is required</span
      >
    </div>
    <div class="col-md-6">
      <label for="blogPostAuthor" class="form-label">Author</label>
      <input
        type="text"
        id="blogPostAuthor"
        name="blogPostAuthor"
        class="form-control"
        formControlName="author"
      />
      <span
        *ngIf="
          blogPostForm.get('author')?.invalid &&
          blogPostForm.get('author')?.touched
        "
        class="small text-danger"
        >Author is required</span
      >
    </div>
    <div class="col-md-1">
      <label for="blogPostIsVisible" class="form-label">Public?</label>
      <div class="mt-2 form-switch">
        <input
          type="checkbox"
          id="blogPostIsVisible"
          name="blogPostIsVisible"
          class="form-check-input"
          formControlName="isVisible"
        />
      </div>
    </div>

    <div formArrayName="categories" class="col-12">
      <div class="card">
        <div class="card-body col-12">
          <h2 class="card-title">Categories</h2>
          <hr />
          <div
            *ngFor="
              let categoryControl of categoryControls.controls;
              let i = index
            "
            class="row my-2"
          >
            <div class="col-8 col-md-11">
              <label
                for="blogPostCategories-{{ i }}"
                class="form-label d-none"
              ></label>
              <select
                id="blogPostCategories-{{ i }}"
                [formControlName]="i"
                class="form-select"
              >
              <ng-container *ngFor="let category of categories">
                <option
                  *ngIf="
                    !categoryControls.value.includes(category.id) ||
                    category.id === categoryControls.at(i).value
                  "
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </ng-container>
              </select>
              <span
                *ngIf="
                  blogPostForm.get('categories')?.invalid &&
                  blogPostForm.get('categories')?.touched
                "
                class="small text-danger"
                >Category is required</span
              >
            </div>
            <div class="col-4 col-md-1">
              <button
                (click)="removeCategory(i)"
                type="button"
                class="btn btn-danger w-100"
                [disabled]="i === 0"
              >
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
          <div class="col-md-2 d-flex align-items-end mt-3">
            <button
              (click)="addCategory()"
              type="button"
              class="btn btn-success w-100"
            >
              Add category
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="mt-3">
        <button
          type="submit"
          class="btn btn-success me-2"
          [disabled]="this.blogPostForm.invalid"
        >
          Save
        </button>
        <button type="button" class="btn btn-primary me-2" (click)="onReset()">
          Reset form
        </button>
        <button *ngIf="this.id" class="btn btn-danger" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
