<div class="container">
  <h1 class="mt-3">Add Blog Post</h1>

  <hr />

  <form class="row g-3" [formGroup]="blogPostForm" (ngSubmit)="onFormSubmit()">
    <div class="col-md-4">
      <label for="blogPostTitle" class="form-label">Title</label>
      <input
        type="text"
        id="blogPostTitle"
        name="blogPostTitle"
        class="form-control"
        placeholder="How HTML works behind the scenes"
        formControlName="title"
      />
    </div>
    <div class="col-md-8">
      <label for="blogPostDescription" class="form-label">Description</label>
      <input
        class="form-control"
        id="blogPostDescription"
        name="blogPostDescription"
        placeholder="In this blog post, we will learn how HTML works behind the scenes. We will discuss the DOM, CSSOM, and the rendering process."
        formControlName="description"
      />
    </div>
    <div class="col-md-12">
      <label for="blogPostUrlHandle" class="form-label">URL Handle</label>
      <div class="input-group">
        <span class="input-group-text">https://codepulse.io/blog/</span>
        <input
          type="text"
          id="blogPostUrlHandle"
          name="blogPostUrlHandle"
          class="form-control"
          placeholder="html-behind-the-scenes"
          formControlName="urlHandle"
        />
      </div>
    </div>
    <div class="col-12">
      <label for="blogPostContent" class="form-label">Content</label>
      <div class="d-flex flex-row gap-4">
        <div class="col-6">
          <textarea
            name="blogPostContent"
            id="blogPostContent"
            class="form-control"
            formControlName="content"
          ></textarea>
        </div>
        <div class="col-6 markdown-preview">
          <markdown [data]="blogPostForm.get('content')?.value"></markdown>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="blogPostFeaturedImageUrl" class="form-label"
        >Featured Image URL</label
      >

      <div *ngIf="blogPostForm.get('featuredImageUrl')?.value !== ''" class="">
        <img
          [src]="blogPostForm.get('featuredImageUrl')?.value"
          class="preview-image mb-2 img-thumbnail"
        />
      </div>

      <input
        type="text"
        id="blogPostFeaturedImageUrl"
        name="blogPostFeaturedImageUrl"
        class="form-control"
        placeholder="https://codepulse.io/assets/images/html-behind-the-scenes.jpg"
        formControlName="featuredImageUrl"
      />
    </div>
    <div class="col-md-3">
      <label for="blogPostDatePublished" class="form-label"
        >Date Published</label
      >
      <input
        type="date"
        id="blogPostDatePublished"
        name="blogPostDatePublished"
        class="form-control"
        formControlName="datePublished"
      />
    </div>
    <div class="col-md-3">
      <label for="blogPostAuthor" class="form-label">Author</label>
      <input
        type="text"
        id="blogPostAuthor"
        name="blogPostAuthor"
        class="form-control"
        placeholder="John Doe"
        formControlName="author"
      />
    </div>
    <div class="col-md-1">
      <label for="blogPostIsVisible" class="form-label">Public?</label>
      <div class="mt-2 form-switch">
        <input
          type="checkbox"
          id="blogPostIsVisible"
          name="blogPostIsVisible"
          class="form-check-input"
          formControlName="isVisible"
        />
      </div>
    </div>

    <div formArrayName="categories" class="col-12">
      <div
        *ngFor="let categoryControl of categoryControls.controls; let i = index"
        class="row mb-2"
      >
        <div class="col-8">
          <label for="blogPostCategories-{{ i }}" class="form-label"
            >Category</label
          >
          <select
            id="blogPostCategories-{{ i }}"
            [formControlName]="i"
            class="form-select"
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="col-2 d-flex align-items-end">
          <button
            (click)="addCategory()"
            type="button"
            class="btn btn-success w-100"
          >
            Add category
          </button>
        </div>
        <div class="col-2 d-flex align-items-end">
          <button
            (click)="removeCategory(i)"
            type="button"
            class="btn btn-danger w-100"
          >
            Remove category
          </button>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="mt-3">
        <button
          type="submit"
          class="btn btn-success me-2"
          [disabled]="this.blogPostForm.invalid"
        >
          Save
        </button>
        <button type="button" class="btn btn-primary me-2" (click)="onReset()">
          Reset form
        </button>
        <button *ngIf="this.id" class="btn btn-danger" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
